.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 80%;
  margin: auto;
}

img {
  width: 500px;
  height: 400px;
}


/*.carousel-control {
background: none !important;
}*/

.carousel-control.left, .carousel-control.right {
  background: none; /*option to not use !important*/
  color: black;
  text-shadow: none;
} 

